src
extension.ts
scripts
.vscode
.gitignore
tsconfig.json
*.tsbuildinfo
*.tgz
bun.lock
node_modules/.bin
node_modules/@types
node_modules/@vscode
node_modules/typescript

!out/**
!bin/**
!syntaxes/**
!language-configuration.json
!package.json
!README.md
!LICENSE
